{% extends 'base.html' %}


{% block head %}
<title>klasfikasi kanker paru</title>
{% endblock %}

{% block body %}
<div class="container mt-5  ">
  <h1 class="text-white mb-5 fw-bold">Hasil Klasifikasi </h1>
  <form class="form-control mb-5">
    <center>
      {% if Status == 1 %}
      <h1 class="fw-bold text-primary mt-5 mb-5">Anda Positif Kanker Paru-Paru</h1>
      <button class="btn btn-primary fw-bold mt-5">
        Selesai
      </button>
      {% else %}
      <h1 class="fw-bold text-primary mt-5 mb-5">Anda NEGATIVE Kanker Paru-Paru</h1>
      <button class="btn btn-primary fw-bold mt-5">
        Selesai
      </button>
      {% endif %}
    </center>


  </form>
</div>


</div>
{% endblock %}